.slider {
  display: flex;
  height: 50vh;
  margin: 10px;
  border-radius: 10px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* -webkit-overflow-scrolling: touch; */
}

.frame {
  position: relative;
  min-width: 100%;
  scroll-snap-align: start;

  & img {
    object-fit: contain;
  }
}
